---
const today = new Date();
---

<footer>
	{today.getFullYear()} aitor c. urrutia aranburu. <a href="https://github.com/txarli/txarli.dev">Blog honen kodea irekia da</a>! <3
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
